---
---

@import "modern-resume-theme";

p, ul {
  text-align: start;
}

h5 {
  font-size: 2em;
}

.layout .details a {
  font-style: normal;
  color: #477dca
}

a {
  text-decoration: underline;
}

a:hover, .layout .details a:hover {
  color: #3368b4;
}
